body{
    margin: 30px;
}
h1{
    font-size: 72px;
    font-family: sans-serif;
}
.Parent{
    display: grid;
    grid-gap :10px;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
}
.Parent>div{
    padding: 10px;
    background-color: #efcb68;
    border-radius: 5px;

    display: grid;
    place-items: center;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}