 .hide{
            display: none;
        }
        button{
            border: none;
            background: powderblue;
            padding: .8em .2.5em;
            border-radius: 100px;
            color: white;
            font-size: 1.2em;
            font-weight: 500;
            cursor: pointer;
            transition: 5s ease;
            animation-name: spin;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          
        }
        button:hover{
            background-color: aqua;
            scale: 2;
        }
        @keyframes spin{
            0%{
                background-color: pink;
            }
            50%{
                scale: 2;
                transform: rotate(0);
                border-radius: 0;
                background-color: purple;
            }
            100%{
                transform: rotate(360deg);
                border-radius: 50%;
                background-color: blueviolet;
            }
        }